  <div class="page-inner">
     <!-- <div class="alert alert-gray-font multi-mes alert-no-close">
        <div class="alert-content">
            <div class="alert-text">
              {{"aws.networks.info.phyMainInfo"|translate}}
            </div>
        </div>
     </div> -->
     <div class="table-action">
        <button type="button" data-toggle="modal" ng-click="openNetworkModal()" class="btn btn-new" ng-disabled="!ADMIN" licence-type = "btn" id="resource-outerNet-create"><i class="icon-aw-add-to2"></i> {{"aws.action.create"|translate}}</button>
        <button type="button" data-toggle="modal" ng-click="editNetwork(editData)" class="btn btn-normal" licence-type = "btn" id="resource-outerNet-edit" uib-popover="{{selectOneNet}}" popover-enable="!netEditBtn" popover-trigger="mouseenter" popover-placement ="bottom" ng-class="{'disabled':!netEditBtn}"><i class="icon-aw-modify"></i> {{"aws.action.edit"|translate}}</button>
        <button type="button" data-toggle="modal" ng-click="deleteNetwork(networkTable.checkedItems)" class="btn btn-normal" licence-type = "btn" id="resource-outerNet-del" uib-popover="{{selectNet}}" popover-enable="!netDelBtn" popover-trigger="mouseenter" popover-placement ="bottom" ng-class="{'disabled':!netDelBtn}"><i class="icon-aw-delete"></i> {{"aws.action.del"|translate}}</button>
        <div class="dropdown" licence-type="btn-group">
          <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown" ng-disabled="delisDisabled">{{"aws.networks.subnetManager"|translate}}<i class="icon-aw-angle-down-1"></i></button>
          <ul class="dropdown-menu">
            <li licence-type="btn" id="resource-outerNet-create">
              <button type="button" data-toggle="modal" ng-click="createSubnetModel(editData)" uib-popover="{{selectOneNet}}" popover-enable="!canCreateSubnet" popover-trigger="mouseenter" popover-placement ="left" ng-class="{'disabled':!canCreateSubnet}">{{"aws.networks.newSubnet"|translate}}</button>
            </li>
            <li licence-type="btn" id="resource-outerNet-edit">
              <button type="button" data-toggle="modal" ng-click="editSubnetModel()" uib-popover="{{isDisabled?selectOneNet:netHasNoSub}}" popover-enable="!canEditSubnet" popover-trigger="mouseenter" popover-placement ="left" ng-class="{'disabled':!canEditSubnet}">{{"aws.networks.editSubnet"|translate}}</button>
            </li>
            <li licence-type="btn" id="resource-outerNet-del">
              <button type="button" data-toggle="modal" ng-click="deleteSubnet()" uib-popover="{{isDisabled?selectOneNet:netHasNoSub}}" popover-enable="!canEditSubnet" popover-trigger="mouseenter" popover-placement ="left" ng-class="{'disabled':!canEditSubnet}">{{"aws.networks.delSubnet"|translate}}</button>
            </li>
          </ul>
        </div>
        <into-information modular="'physicalnetworks'"></into-information>
        <setting title-data="titleData" site-title="titleName" table-data="networksTableData" search-tearm="networkSearchTearm(obj)"></setting>
        <div type="button" class="btn btn-renovat right-ports" ng-click="refreshNetworks()">
          <i class="icon-aw-refresh"></i>
        </div>
        <div class="search-box right-ports">
          <form name="searchForm" novalidate ng-keyup="applyGlobalSearch('networkTable','netTerm')">
            <button class="btn" type="submit" ng-disabled="searchForm.$invalid"><i class="icon-aw-search"></i></button>
            <input type="text" class="form-control" autocomplete="off" maxlength="128" name="searchTerm" ng-model="globalSearchTerm.netTerm" placeholder="{{'aws.action.search'|translate}}" />
          </form>
        </div>
        
      </div>
      <div class="table-content networks-content">
        <empty-tip empty-type="loadNetworkData" tip-id="'net-tip-msg'"></empty-tip>
        <table ng-table="networkTable" class="table" show-filter="false">
          <!-- <colgroup>
            <col width="9%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
          </colgroup> -->
          <tr ng-repeat="network in $data">
            <td header="'headerCheckbox.html'">
              <label class="checkbox" >
                <input type="checkbox" ng-model="checkboxes.items[network.id]" />
                <i class="iconfont"></i>
              </label>
            </td>
            <td data-title="'aws.networks.name'|translate" sortable="'name'" ng-if="titleData[0].value">
              <div class="edit-name">
                <a ng-href="/cvm/physicalnetworks?id={{network.id}}" title="{{network.name}}">{{network.name}}</a>
              </div>
            </td>
            <td data-title="'aws.networks.subnetName'|translate" ng-if="titleData[1].value" >
                <div ng-repeat="subnet in network.subnets track by $index">
                   <span ng-repeat="pool in subnet.addressPool">
                     <span ng-if="$index==0">{{subnet.name}}</span><br>
                   </span>
                </div>
            </td>
            <td data-title="'aws.networks.subnetCidr'|translate" ng-if="titleData[2].value" >
                <div ng-repeat="subnet in network.subnets track by $index">
                   <span ng-repeat="pool in subnet.addressPool">
                     <span ng-if="$index==0">{{subnet.cidr}}</span><br>
                   </span>
                </div>
            </td>
            <td data-title="'aws.networks.address_range'|translate" ng-if="titleData[3].value" >
                <div ng-repeat="subnet in network.subnets track by $index">
                  <span ng-repeat="pool in subnet.addressPool">{{pool}}<br></span>
                </div>
            </td>
            <td data-title="'aws.networks.status'|translate" sortable="'state'" ng-if="titleData[4].value">
                <span ng-class="{true:'bg-green',false:'bg-orange'}[network.status=='ACTIVE']">{{network.state}}</span>
            </td>
            <td data-title="'aws.networks.shared'|translate" sortable="'_shared'" ng-if="titleData[5].value">{{network._shared}}</td>
            <td data-title="'aws.networks.phyNet'|translate" sortable="'_physical_network'" ng-if="titleData[6].value">{{network._physical_network}}</td>
            <td data-title="'aws.networks.netType'|translate" sortable="'_network_type'" ng-if="titleData[7].value">{{network._network_type}}</td>
            <td data-title="'aws.networks.availableIP'|translate" sortable="'networkIpAvailability'" ng-if="titleData[8].value">{{network.networkIpAvailability}}</td>
          </tr>
        </table>
      </div>
      <div ng-controller="detailCtrl">
        <pane class="detail-body" animation="animation">
          <div class="tab-content">
            <div class="detail-row net-row">
              <div class="detail-title">
                <a class="an-close" ng-href="/cvm/physicalnetworks"><i class="icon-aw-mail-reply"></i></a>
                <span>{{baseDetailData.name}}{{"aws.networks.detail"|translate}}</span>
              </div>
              <div class="detail-info">
                    <h4 class="tabName"><span>{{'aws.networks.baseMsg'|translate}}</span></h4>
                    <div class="table-content table-small">
                      <table class="table table-info column">
                        <tr>
                          <td>{{'aws.networks.networkName'|translate}}</td>
                          <td>{{baseDetailData.name}}</td>
                          <td>{{'aws.networks.bindSubnet'|translate}}</td>
                          <td>
                              <span ng-repeat="subnet in baseDetailData.subnets track by $index">{{subnet.cidr}}<br/></span>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'aws.networks.status'|translate}}</td>
                          <td>
                              {{baseDetailData.state}}
                          </td>
                          <td>{{'aws.networks.shared'|translate}}</td>
                          <td>{{baseDetailData._shared}}</td>
                        </tr>
                        <tr>
                          <td>{{'aws.networks.phyNet'|translate}}</td>
                          <td>{{baseDetailData._physical_network}}</td>
                          <td>{{'aws.networks.netType'|translate}}</td>
                          <td>{{baseDetailData._network_type}}</td>
                        </tr>
                        <tr>
                          <td>{{'aws.networks.availableIP'|translate}}</td>
                          <td>{{baseDetailData.networkIpAvailability}}</td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </div>
                    <h4 class="tabName"><span>{{'aws.networks.subnetManager'|translate}}</span></h4>
                    <div class="table-content sub-content">
                      <div class="table-responsive table-content table-small">
                        <empty-tip empty-type="loadSubnetData" tip-id="'sub-tip-msg'"></empty-tip>
                        <table ng-table="subnetTable" class="table" show-filter="false">
                            <colgroup>
                              <col width="10%">
                              <col width="13%">
                              <col width="13%">
                              <col width="13%">
                              <col width="13%">
                              <col width="8%">
                              <col width="7%">
                              <col width="13%">
                              <col width="10%">
                            </colgroup>                       
                            <tr ng-repeat="subnet in $data">
                              <td data-title="'aws.networks.subnetName'|translate" sortable="'name'">
                                <div class="edit-name edit-sm">
                                  <span title="{{subnet.name}}">{{subnet.name}}</span>
                                </div>
                              </td>
                              <td data-title="'aws.networks.subnetCidr'|translate" sortable="'cidr'">{{subnet.cidr}}<br></td>
                              <td data-title="'aws.networks.gatewayIp'|translate" sortable="'gatewayIp'">{{subnet.gatewayIp}}</td>
                              <td data-title="'aws.networks.availableAddressRange'|translate">
                                <span ng-repeat="allocationPool in subnet.allocationPools track by $index ">
                                  {{allocationPool.start}}~{{allocationPool.end}}<br>
                                </span>
                              </td>
                              <td data-title="'aws.networks.availableIP'|translate" sortable="'networkIpAvailability'">{{subnet.networkIpAvailability}}</td>
                              
                              <td data-title="'aws.networks.IPvision'|translate" sortable="'ipVersion'">{{subnet._ipVersion}}</td>
                              <td data-title="'aws.networks.enableDhcp'|translate" sortable="'enableDhcp'">{{subnet._enableDhcp| capitalize}}</td>
                              <td data-title="'aws.networks.hostRoutes'|translate">
                                <span ng-repeat="hostRoute in subnet.hostRoutes track by $index">{{hostRoute.destination}},{{hostRoute.nexthop}}<br/></span>
                              </td>
                              <td data-title="'aws.networks.dnsNameserver'|translate">
                                <span ng-repeat="dnsNameserver in subnet.dnsNameserver">{{dnsNameserver}}<br/></span>
                              </td>
                            </tr>
                        </table>
                      </div>   
                    </div>
                    <h4 class="tabName"><span>{{'aws.networks.portMsg'|translate}}</span></h4>
                    <empty-tip empty-type="loadNetworkDetailData" tip-id="'net-detial-tip-msg'"></empty-tip>
                    <div class="table-content table-small port-content">
                       <table ng-table="networksDetailTable" class="table">
                          <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                          </colgroup>
                          <tr ng-repeat="netDetail in $data">
                            <td data-title="'aws.networks.portName'|translate" sortable="'name'">{{netDetail.name}}</td>
                            <td data-title="'aws.networks.ipAddr'|translate">
                              <span ng-repeat="subnet in netDetail.subnetIps track by $index">{{subnet.ip_address}}<br/></span>
                            </td>
                            <td data-title="'aws.networks.status'|translate" sortable="'status'" ng-if="ADMIN">{{netDetail._status}}</td>
                            <td data-title="'aws.networks.adminState'|translate" sortable="'adminState'" ng-if="ADMIN">{{netDetail._adminState}}</td>
                            <td data-title="'aws.networks.deviceOwner'|translate" sortable="'deviceOwner'">{{netDetail.deviceOwner}}</td>
                          </tr>
                        </table>
                    </div>
              </div>
            </div>
          </div>
        </pane>
      </div>
  </div>
  <script type="text/ng-template" id="headerCheckbox.html">
    <label class="checkbox">
      <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
      <i class="iconfont"></i>
    </label>
  </script>
  <script type="text/ng-template" id="subnetheaderCheckbox.html">
    <label class="checkbox">
      <input type="checkbox" ng-model="subnetCheckbox.checked" class="select-all-subnetTable" value="" />
      <i class="iconfont"></i>
    </label>
  </script>
  <script type="text/ng-template" id="editPhySubnetModal.html">
      <div class="modal-common easy-modal phynet-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
          <h3 class="modal-title">{{"aws.networks.editSubnet"|translate}}</h3>
        </div>
        <div class="modal-body">
          <form name="editSubnetForm" novalidate>
            <div class="control-group">
              <label class="control-label"><span class="red">*</span>&nbsp;{{"aws.networks.subnetName"|translate}}：</label>
              <div class="controls subnet-controls">
                <input type="text" class="form-controls" name="name"  ng-model="subnetForm.name" ng-maxlength="32" ng-pattern="/^(\w|[\u4E00-\u9FA5]|\-)*$/" placeholder='{{"aws.networks.inputSubnetName"|translate}}'  required/>
                <div class="error" ng-messages='editSubnetForm.name.$error' ng-show="interacted(editSubnetForm.name)">
                <div ng-message="required">{{'aws.errors.required'|translate}}</div>
                <div ng-message="maxlength">{{"aws.errors.maxlengthbig"|translate}}32{{"aws.errors.lenghtUnit"|translate}}</div>
                <div ng-message="pattern">{{'aws.errors.noSpecial'|translate}}</div>
                <!-- <div ng-message="exceptName">{{'aws.networks.except_external_subnet' | translate}}</div> -->
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{"aws.networks.subnetCidr"|translate}}：</label>
              <div class="controls subnet-controls">
                <span class="val">{{subnetForm.cidr}}</span>
              </div>
            </div>
            <div class="ip_pool clearfix">
              <div class="control-label">{{"aws.networks.availableAddressRange"|translate}}：</div>
              <div ng-repeat="pool in subnetForm.allocationPools track by $index" class="group clearfix" ng-class="{'repeat':$index>=1}">
                <div class="control-group ">
                  <label class="control-label"><span class="red">*</span>&nbsp;{{"aws.networks.start"|translate}}:</label>
                  <div class="controls">
                    <input type="text" class="form-controls" name="start_ip{{$index}}" id="startIp_{{$index}}" ng-model="pool.start" ipformat-validate ng-focus="setIpIsOverlap()" incidr cidr-val="subnetForm.cidr" required />
                    <div class="error" ng-messages="editSubnetForm['start_ip'+$index].$error" ng-if="interacted(editSubnetForm['start_ip'+$index])" >
                      <div ng-message="ipformat">{{"aws.networks.ipPatternError"|translate}}</div>
                      <div ng-message="incidr">
                        <div ng-if="pool.start==networkAddress">{{"aws.networks.ipIsNetworkAdress"|translate}}</div>
                        <div ng-if="pool.start==broadcastAddress">{{"aws.networks.ipIsBroadcastAdress"|translate}}</div>
                        <div ng-if="pool.start!=networkAddress&&pool.start!=broadcastAddress">{{"aws.networks.ipNotInSubCidr"|translate}}</div>
                      </div>
                      <div ng-message="required">{{'aws.errors.required'|translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="control-group ">
                  <label class="control-label"><span class="red">*</span>&nbsp;{{"aws.networks.end"|translate}}:</label>
                  <div class="controls">
                    <input type="text" class="form-controls" name="end_ip{{$index}}" id="endIp_{{$index}}" ng-model="pool.end" ng-focus="setIpIsOverlap()" ipformat-validate  gtip="startIp_{{$index}}" incidr cidr-val="subnetForm.cidr" required />
                    <div class="error" ng-messages="editSubnetForm['end_ip'+$index].$error" ng-if="interacted(editSubnetForm['end_ip'+$index])">
                      <div ng-message="ipformat">{{"aws.networks.ipPatternError"|translate}}</div>
                      <div ng-message="gtip">{{'aws.errors.gtIpError'|translate}}</div>
                      <div ng-message="incidr">
                        <div ng-if="pool.end==networkAddress">{{"aws.networks.ipIsNetworkAdress"|translate}}</div>
                        <div ng-if="pool.end==broadcastAddress">{{"aws.networks.ipIsBroadcastAdress"|translate}}</div>
                        <div ng-if="pool.end!=networkAddress&&pool.end!=broadcastAddress">{{"aws.networks.ipNotInSubCidr"|translate}}</div>
                      </div>
                      <div ng-message="required">{{'aws.errors.required'|translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="del" ng-if="subnetForm.allocationPools.length>1">
                    <a ng-click="delAllocationPools($index,subnetForm.allocationPools)" ><i class="icon-aw-wrong"></i></a>
                </div>
              </div>
              <div class="add-subpool">
                  <a ng-click="addAllocationPools()"><i class="icon-aw-add-to2"></i>&nbsp;{{"aws.networks.newAdd"|translate}}</a>
              </div>
            </div>
            <div class="red text-center" ng-if="ipIsOverlap"> {{"aws.networks.ipPoolIsOverlap"|translate}}</div>
            <div class="red text-center" ng-if="ipEqToGateway">{{"aws.networks.ipInPoolEqToGateway"|translate}}({{editData.gatewayIp}})</div>
            <div class="red text-center" ng-if="poolNarrow">
              <span ng-if="subnetForm.external">{{"aws.networks.poolNarrow"|translate}}</span>
              <span ng-if="!subnetForm.external">{{"aws.networks.assignedIpNotInPool"|translate}}</span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-info" type="button" ng-click="editSubnetCfm(editSubnetForm)" ng-disabled = "formSubmitted" >{{"aws.action.ok"|translate}}</button>
          <button class="btn btn-default" type="button" ng-click="$dismiss()">{{"aws.action.cancel"|translate}}</button>
        </div>
      </div>
  </script>
  <script type="text/ng-template" id="editPhyNetworkModal.html">
        <div class="modal-common modal-smallest">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
            <h3 class="modal-title">{{'aws.physicalNetworks.editPhysicalNet'|translate}}</h3>
          </div>
          <div class="modal-body">
            <form name="editNetworkForm" novalidate>
              <div class="control-group">
                <label class="control-label"><span class="red">*</span>&nbsp;{{"aws.networks.networkName"|translate}}：</label>
                <div class="controls">
                  <input type="text" class="form-controls" name="name" ng-model="networkForm.name" placeholder='{{"aws.networks.networkName"|translate}}' ng-maxlength="32" ng-pattern="/^(\w|[\u4E00-\u9FA5]|\-)*$/" required />
                  <div class="error" ng-messages='editNetworkForm.name.$error' ng-if="interacted(editNetworkForm.name)">
                    <div ng-message="required">{{'aws.errors.required'|translate}}</div>
                    <div ng-message="maxlength">{{"aws.errors.maxlengthbig"|translate}}32{{"aws.errors.lenghtUnit"|translate}}</div>
                    <div ng-message="pattern">{{'aws.errors.noSpecial'|translate}}</div>
                    <!-- <div ng-message="exceptName">{{'aws.networks.except_external_net' | translate}}</div> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
          <button class="btn btn-info" type="button" ng-click="editNetConfirm(editNetworkForm)" ng-disabled="formSubmitted" >{{"aws.action.ok"|translate}}</button>
            <button class="btn btn-default" type="button" ng-click="$dismiss()">{{"aws.action.cancel"|translate}}</button>
          </div>
        </div>
  </script>
