<div class="modal-common modifyPwd-modal">
        <div class="modal-header">
          <button type="button" class="close" ng-class="{'hideIcon':isShowPasswordExpired||isNewUser}" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
          <h3 class="modal-title" ng-if="isNewUser"> {{'aws.system.modifyPassword.newUserModifyPwd'|translate}}</h3>
          <h3 class="modal-title" ng-if="isShowPasswordExpired">{{'aws.system.modifyPassword.pwdExpiredModifyPwd'|translate}}</h3>
        </div>
        <div class="modal-body pwdModify-box">
            <uib-alert type="danger" ng-if="isShowPasswordExpired&&!modifySuccess">
              <div>
                  <span>{{showPasswordExpiredMsg}}</span>
              </div>
            </uib-alert>
            <uib-alert type="danger" ng-if="isNewUser&&!modifySuccess">
              <div>
                  <span>{{newUserToModifyPwd}}</span>
              </div>
            </uib-alert>
            <uib-alert type="success" ng-if="modifySuccess">
              <div>
                  <span>{{modifySuccessMsg}}</span>
              </div>
            </uib-alert>
            <form name="pwdModify">
              <div class="control-group">
                <label class="control-label"><i class="red">*</i> {{'aws.system.modifyPassword.newPassword'|translate}} :</label>
                <div class="controls">
                  <input type="password" name="newPassword" id="newPassword" ng-model="modify.newPassword" class="form-controls" autocomplete="off" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@._:,/\-\^\%])[0-9a-zA-Z!@._:,/\-\^\%]{8,16}$/" placeholder="{{'aws.system.modifyPassword.pleaseInputNewPassword'|translate}}" required/>
                  <div ng-messages="(submitValid||pwdModify.newPassword.$dirty)&&pwdModify.newPassword.$error"  class="error">
                    <div ng-message="required">{{'aws.message.required'|translate}}</div>
                    <div ng-message="pattern">{{'aws.system.modifyPassword.special_8_16'|translate}}</div>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"><i class="red">*</i> {{'aws.system.modifyPassword.confirmNewPassword'|translate}} :</label>
                <div class="controls">
                  <input type="password" name="confirmPassword" ng-model="modify.confirmPassword" autocomplete="off" class="form-controls" placeholder="{{'aws.system.modifyPassword.pleaseInputNewPasswordAgain'|translate}}" pw-check="newPassword" required/>
                  <div ng-messages="(submitValid||pwdModify.confirmPassword.$dirty)&&pwdModify.confirmPassword.$error" class="error">
                    <div ng-message="required">{{'aws.message.required'|translate}}</div>
                    <div ng-message="pwCheck">{{'aws.system.modifyPassword.newPasswordDiffer'|translate}}</div> 
                  </div>
                </div>
              </div>
              <div class="modifyFail">
                 <p ng-if="modifyError===2">
                     {{'aws.system.modifyPassword.modifyPasswordFail'|translate}}
                 </p>
                 <p ng-if="isRotate">{{'aws.system.modifyPassword.modifying'|translate}} <span class="aw-spin icon-aw-refresh"></span></p>
                 <p ng-if="successModify">{{'aws.system.modifyPassword.modifySuccess'|translate}}</p>
                 <p ng-if="modifyError===3">{{'aws.system.modifyPassword.modifyFrequent'|translate}}</p>
                 <p ng-if="modifyError===4">{{'aws.statusCode.01080304'|translate}}</p>
                 <p ng-if="modifyError===5">{{'aws.statusCode.01080305'|translate}}</p>
                 <p ng-if="modifyError===6">{{'aws.statusCode.01080306'|translate}}</p>
              </div>
            </form>
        </div>
        <div class="modal-footer">
           <button class="btn btn-primary" ng-click="forceModifyPwd(modify,pwdModify)" ng-disabled="click">
                {{"aws.action.ok"|translate}}<span ng-if="logining"><i class="icon-aw-load aw-spin"></i></span>
           </button>
           <button class="btn btn-default" type="button" ng-click="$dismiss()" ng-class="{'hideIcon':isShowPasswordExpired||isNewUser}">{{"aws.action.cancel"|translate}}</button>
        </div>
     </div>
