<div class="diskfield ">
    <div class="disk-box {{bardata.osdStatus}}" ng-class="{'miss':(bardata.status=='miss'),'target':bardata.targetAttribute}" ng-click="getDisk(bardata)">
        <div class="s-h bar">
            <i class="{{bardata.osdStatus}}" ng-class="{'icon-aw-hdd':(bardata.type==1 || bardata.status=='miss'),'icon-aw-ssd':(bardata.type==0),'miss':(bardata.status=='miss')}"></i>
            <i class="circle green" ng-class="{'orange':bardata.ioUtil>30,'red':bardata.ioUtil>70}" ng-hide="bardata.status =='miss'"></i>
        </div>
        <span  ng-if="bardata.status!='miss'">{{bardata.total}}G</span>
        <span  ng-if="bardata.status =='miss'">{{'aws.cephView.unknown' | translate}}</span>
        <div class="hdd {{bardata.osdStatus}} {{bardata.status}}">
            <div quota-bar id="onlyBar" bardata="bardata"></div>
        </div>
        <i class=" close" ng-click="del()">×</i>
    </div>
    <div class="disk-info" ng-class="{'middle':bardata.action}">
        <div class="angles">
            <i class="angle-top"></i>
            <i class="angle-top-opa"></i>
        </div>
        <div ng-show = "bardata.action">
            <span class="sub-title">{{'aws.cephView.excuteAction' | translate}}：</span>
            {{"aws.cephView.chart.actionTo." + (bardata.action+"_" + bardata.targetAttribute) | translate}}
        </div>
        <div ng-show = "bardata.action">
            <span class="sub-title">{{'aws.cephView.excuteTime' | translate}}：</span>
            {{bardata.executeTime  | date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.volumeName' | translate}}：</span>
            {{bardata.name}}
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.osdStatusCopy' | translate}}：</span>
            <span class="status {{bardata.osdStatus}}">
                {{"aws.cephView.chart.status." + bardata.osdStatus | translate}}
            </span>
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.typeCopy' | translate}}：</span>
            {{"aws.cephView.chart.diskType." + bardata.type | translate}}
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.total' | translate}}：</span>
            {{bardata.total}}G
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.percent' | translate}}：</span>
            {{bardata.percent}}
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.osdNum' | translate}}：</span>
            {{bardata.osdName}}
        </div>
        <div>
            <span class="sub-title">{{'aws.cephView.IOused' | translate}}：</span>
            {{bardata.ioUtil}}%
        </div>
    </div>
</div>