<div class="modal-common">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
		<h3 class="modal-title">{{projectTitle}}</h3>
	</div>
	<div class="modal-body">
		<form name="projectName" novalidate>
			<div class="control-group">
              <label class="control-label"><span class="red">*</span>{{'aws.project.newProject.dep_name'|translate}}：</label>
              <div class="controls">
                <ui-select ng-model="curDep.selected" name="deparName" ng-change="changeDepart(curDep.selected)" required  ng-disabled="!depList.length||rememberDomain||canCheckDer">
                  <ui-select-match placeholder="{{'aws.project.newProject.dep_name'|translate}}">{{$select.selected.neName}}</ui-select-match>
                  <ui-select-choices repeat="item in depList  | filter: {id: $select.search}">
                    <div ng-bind-html="item.neName | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
                <div class="error" ng-if="interactedName(projectName.deparName)" ng-messages="projectName.deparName.$error">
                  <form-validate></form-validate>
                </div>
              </div>
            </div>
			<div class="control-group">
				<label class="control-label"><span class="red">*</span>{{'aws.project.newProject.pro_name' | translate}}：</label>
				<div class="controls">
					<input type="text" name="name" class="form-controls"  title="{{notEditTip}}" ng-disabled="notEditName" placeholder="{{'aws.project.proName' | translate}}" ng-model="project.name" ng-pattern="/^(\w|[\u4E00-\u9FA5]|\-)*$/" ng-maxlength="32" repeat-nums required />
					<span class="error-messages error" ng-if="interactedName(projectName.name)" ng-messages="projectName.name.$error" >
						<div ng-message="required" class="error">{{'aws.errors.required'|translate}}</div>
						<div ng-message="pattern" class="error">{{'aws.errors.noSpecial'|translate}}</div>
						<div ng-message="maxlength" >{{'aws.errors.maxlength'|translate}}</div>
						<div ng-message="repeatNums" >{{'aws.errors.noRepeatProName'|translate}}</div>
					</span> 
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">{{'aws.project.newProject.pro_desc' | translate}}：</label>
				<div class="controls">
					<textarea class="form-controls" name="desc" ng-maxlength="256" ng-model="project.description" placeholder="{{'aws.volumes.cv.pDescMessage'|translate}}"></textarea>
					<span class="error-messages error" ng-if="interactedName(projectName.desc)" ng-messages="projectName.desc.$error" >
						<div ng-message="maxlength" >{{'aws.errors.maxlength256'|translate}}</div>
					</span> 
				</div>
			</div>
			<!-- <div class="control-group">
				<label class="control-label"><strong>{{'aws.project.quota' | translate}}</strong></label>
				<div class="controls">
				</div>
			</div> -->
			<span class="form-title">{{'aws.project.quota' | translate}}<i class="icon-aw-question-mark question-tip" uib-popover="以下配额信息仅供参考，可根据实际情况进行修改。注意：项目配额不能超过部门配额。"  popover-trigger="mouseenter" popover-placement = "bottom" ></i></span>
			<div ng-if='!getDepConfig' class="marginLeft">{{'aws.project.quotafail'|translate}}<span class='redPointer' ng-click='getCanEditQuota()'>{{'aws.project.retry'|translate}}</span></div>
			<div  ng-repeat="quota in canEditQuotas" class="control-row" ng-if="showQuota">
				<div class="control-group control-item-inner">
					<label class="control-label" title="{{'aws.quota.'+quota.name | translate}}"><span class="red">*</span>{{'aws.quota.'+quota.name | translate}}： </label>
					<div class="controls">
						<input class="pro-quota-input form-control" type="text" name="{{quota.name}}" ng-model="quota.hardLimit" ng-pattern="/^([1-9][0-9]*)$/" availquota required/>
						<!-- <span class="error-messages error" ng-if="interactedName(projectName[quota.name])" ng-messages="projectName[quota.name].$error" > -->
						<span class="error-messages error" ng-messages="projectName[quota.name].$error" >
							<div ng-message="required">{{'aws.errors.required'|translate}}</div>
							<div ng-message="pattern">{{'aws.errors.atleast'|translate}}</div>
							<!-- <div ng-message="availquota">{{'aws.quota.errorMessage.insufficient'|translate}}</div> -->
							<div ng-message="availquota">
								<div ng-if="!narrowSwitch">{{'aws.quota.errorMessage.insufficient'|translate}}{{quota.availQuota}}</div>
								<div ng-if="narrowSwitch">{{'aws.quota.errorMessage.largerThanLeftQuota'|translate}}{{quota.availQuota}}</div>
							</div>
						</span>
					</div>
				</div>
				<div class="clear" ng-if="$odd"></div>
			</div>
			<div class="clear"></div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-info" type="button" ng-disabled = "!getDepConfig||canSubmit" ng-click="confirmPro()">{{'aws.action.ok' | translate}}</button>
		<button class="btn btn-default" type="button" ng-click="$dismiss()">{{'aws.action.cancel' | translate}}</button>
	</div>
</div>
