<div class="modal-common" ng-class="{'modal-middle':getQuotaInfo}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
        <h3 class="modal-title">{{"aws.instances.snapshot.title" | translate}}</h3>
    </div>
    <div class="modal-body" >
        <div class="clearfix">
            <div class="left-modal">
                <div class="alert alert-info" ng-show="timedSnap">
                    <span>{{'aws.instances.snapshot.addtimeSnapTip'|translate}}</strong>
                </div>
                <div class="alert alert-danger" ng-show="beyondQuota_pro.snapshots">项目快照配额数不足</div>
                <div class="alert alert-danger" ng-if="beyondQuota_dep.snapshots">项目快照配额数不足</div>
                <form name="insForm" novalidate>
                    <div class="control-group"  >
                        <label class="control-label">{{"aws.instances.snapshot.systemDisk" | translate}}：</label>
                        <div class="controls">
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip8' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <ui-select multiple ng-model="newObj.systemDisk" theme="bootstrap" sortable="true" ng-change="changeDisk()" close-on-select="false" >
                                <ui-select-match placeholder="{{system_disk_list.length>0?('aws.instances.snapshot.systemDiskPlace' | translate):systemDiskTip}}">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="disk in system_disk_list | propsFilter:  {name: $select.search}">
                                    <div ng-bind-html="disk.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> 
                        </div>
                    </div>
                    <div class="control-group" >
                        <label class="control-label">{{"aws.instances.snapshot.dataDisk" | translate}}：
                        </label>
                        <div class="controls">
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip8' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <ui-select multiple ng-model="newObj.dataDisk" theme="bootstrap" sortable="true" ng-change="changeDisk()" close-on-select="false" >
                                <ui-select-match placeholder="{{data_disk_list.length>0?('aws.instances.snapshot.dataDiskPlace' | translate):('aws.instances.snapshot.nodataDiskPlace' | translate)}}">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="disk in data_disk_list | propsFilter:  {name: $select.search}">
                                        <div ng-bind-html="disk.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> 
                            <div class="error" ng-show="chooseDiskTipShow">{{"aws.instances.snapshot.leastchooseDisk" | translate}}</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >{{"aws.instances.snapshot.timedSnap" | translate}}：</label>
                        <div class="controls">
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip42' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <div class="checkbox switch-btn">
                                <label popover-enable ="newObj.hasElastic" uib-popover="弹性扩展创建的虚拟机不支持定时任务"  popover-trigger="mouseenter" popover-placement = "bottom">
                                    <input type="checkbox" class="form-controls" ng-model="timedSnap" ng-disabled="newObj.hasElastic">
                                    <i class="iconfont" ></i>
                                </label>
                            </div>
                        </div>
                    </div> 
                    <div class="control-group" ng-if="timedSnap">
                        <label class="control-label">{{"aws.instances.snapshot.frequency" | translate}}：</label>
                        <div class="controls">
                                <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip43' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <ui-select  ng-model="newObj.unit" ng-change="snapFun(newObj.unit.unit)">
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="unit in newObj.unit_list | propsFilter:  {name: $select.search}">
                                        <div ng-bind-html="unit.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="control-group" ng-if="timedSnap && newObj.unit.unit">
                        <label class="control-label">{{"aws.instances.snapshot.timeInterval" | translate}}：</label>
                        <div class="controls">
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip44' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <div class="control-items2 ">
                                <div class="control-group no-margin">
                                    <input type="text" class="form-controls" name="frequency" ng-model="newObj.frequency" placeholder="请输入执行快照周期" limitnumrange min="snapMin" max="snapMax" required />
                                </div>
                                <div class="control-group no-margin">
                                    <span class="control-span">{{"aws.instances.snapshot.frequencyUnit."+newObj.unit.unit | translate}}</span>
                                </div>
                            </div>
                            <div class="error" ng-messages="(submitInValid ||insForm.frequency.$dirty) && insForm.frequency.$error">
                                <div ng-if="newObj.unit.unit=='hour'" ng-message="limitnumrange">{{"aws.errors.snap_0_168" | translate}}</div>
                                <div ng-if="newObj.unit.unit=='day'" ng-message="limitnumrange">{{"aws.errors.snap_1_31" | translate}}</div>
                                <div ng-if="newObj.unit.unit=='month'||newObj.unit.unit=='week'" ng-message="limitnumrange">{{"aws.errors.snap_1_99" | translate}}</div>
                                <div ng-if="newObj.unit.unit=='minute'" ng-message="limitnumrange">{{"aws.errors.snap_0_59" | translate}}</div>
                                <form-validate></form-validate>
                            </div>
                        </div>
                    </div>
                    <div class="control-group" ng-if="timedSnap">
                        <label class="control-label" title="{{'aws.instances.snapshot.firstTimedSnap' | translate}}">{{"aws.instances.snapshot.firstTimedSnap" | translate}}：</label>
                        <div class="controls" >
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip45' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <div class="control-items2 ">
                                <div class="control-group no-margin">
                                    <div range-time>
                                        <div class="input-group date form_date">
                                            <input class="form-control" type="text" name="startTime" ng-model="newObj.startTime"  ng-change="changeTime()" required lt-curr-time
                                            ng-pattern="/^\d{4}-([0][1-9]|[1][0-2])-([0-2][1-9]|[1-2][0]|[3][0-1])\s(([0-1][0-9])|([2][0-3])):([0-5][0-9])$/"  placeholder="{{'aws.log.start_at'|translate}}">
                                            <span class="input-group-addon calendar-cont">
                                                <span class="glyphicon glyphicon-calendar fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="error" ng-messages="(submitInValid ||insForm.startTime.$dirty) && insForm.startTime.$error">
                                <form-validate pattern-msg="'aws.errors.timeSecondPattern'|translate"></form-validate>
                                <div ng-message="ltCurrTime">{{'aws.errors.ltCurrentTimeError'|translate}}</div>
                            </div>
                            <div class="red" ng-show="chkCurrentTimeTip">{{'aws.errors.ltCurrentTimeError'|translate}}</div>
                        </div>
                    </div>     
                    <div class="control-group" ng-if="timedSnap && newObj.unit.unit">
                        <label class="control-label">{{"aws.instances.snapshot.holdNumber" | translate}}：</label>
                        <div class="controls">
                            <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.instances.tip46' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                            <ui-select ng-model="newObj.holdNumber" ng-change="change_snap_number(newObj.holdNumber)"  >
                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="snap_number in newObj.snap_number_list | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="snap_number.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class= "control-group no-margin">
                        <label class="control-label">&nbsp</label>
                        <div class="controls">
                            <a class="info-right" ng-click="getQuotaInfo =! getQuotaInfo">
                                <i ng-class="{'icon-aw-angle-double-left':getQuotaInfo,'icon-aw-angle-double-right':!getQuotaInfo}"></i>
                                配额信息 
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right-modal" ng-show="getQuotaInfo">
                <div class="control-group">
                    <div>{{'aws.volumes.snapQuota'|translate}}：</div>
                    <div class="clearfix bar-group">
                            <div quota-bar bardata="project_data.snapshots"></div>
                            <div quota-bar bardata="domain_data.snapshots" ng-show="ADMIN || DOMAIN_ADMIN"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="des-info" ng-if = "showPriceTip">
            <span>总价格：</span>
            <strong>¥{{priceHour}}</strong>
            <span>每小时 × 1 =</span>
            <strong>¥{{priceHourAbout}}</strong>
            <span>每小时 (合 ¥{{priceMonth}} 每月)</span>
        </div>
    </div>
    
    <div class="modal-footer">
          <button class="btn btn-info" type="button" ng-disabled="cannot_Confirm || !canConfirm || beyondQuota_pro.snapshots || beyondQuota_dep.snapshots" ng-click="createInsSnap(insForm)">{{'aws.action.ok' | translate}}</button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">{{'aws.action.cancel' | translate}}</button>
    </div>
    
</div>
