<div class=" modal-common">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">×</button>
        <h3 class="modal-title">{{'aws.backups.addBackup' | translate}}</h3>
    </div>
    <div class="modal-body ">
        <uib-alert ng-if="beyondQuota_pro.backups" type="danger">{{"aws.volumes.errorMessage.proBackupNum" | translate}}</uib-alert>
        <uib-alert ng-if="beyondQuota_dep.backups" type="danger">{{"aws.volumes.errorMessage.depBackupNum" | translate}}</uib-alert>
        <uib-alert ng-if="beyondQuota_pro.backup_gigabytes" type="danger">{{"aws.volumes.errorMessage.proBackupGig" | translate}}</uib-alert>
        <uib-alert ng-if="beyondQuota_dep.backup_gigabytes" type="danger">{{"aws.volumes.errorMessage.depBackupGig" | translate}}</uib-alert>
        <form name="volumeBackupForm">
            <div class="control-group">
                <label class="control-label">{{'aws.backups.backupName' | translate}}：</label>
                <div class="controls">
                    <input class="form-control" name="name" ng-model="newObj.name" ng-pattern="/^(\w|[\u4E00-\u9FA5]|\-|\.)*$/" ng-maxlength="32" required />
                    <div class="error" ng-messages="(submitInValid || volumeBackupForm.name.$dirty) && volumeBackupForm.name.$error">
                        <form-validate></form-validate>
                    </div>
                </div>
            </div>
            <div class="control-group radio-wrap">
                <label class="control-label">{{'aws.backups.type' | translate}}</label>
                <div class="controls">
                    <i class="icon-aw-question-mark question-tip" uib-popover="{{'aws.helpTip.volumes.tip7' | translate}}"  popover-trigger="mouseenter" popover-placement = "bottom" ></i>
                    <div class="radio-item clearFix">
                        <label class="radio">
                            <input type="radio" ng-model="newObj.type" value="true" />
                            <i class="iconfont"></i>{{'aws.backups.table.isIncremental.false' | translate}}
                        </label>
                        <label class="radio" uib-popover="{{newObj.canIncremental?'':'aws.instances.backups.cannotIncrementalTip'| translate}}"
                            popover-enable="!newObj.canIncremental" popover-trigger="mouseenter" popover-placement = "bottom">
                            <input type="radio" ng-model="newObj.type" value="false" ng-disabled="!newObj.canIncremental"/>
                            <i class="iconfont"></i>{{'aws.backups.table.isIncremental.true' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{'aws.common.backupQuota' | translate}}：</label>
                <div class="controls">
                    <div class="clearfix bar-group">
                    <div quota-bar bardata="project_data.backups"></div>
                    <div quota-bar bardata="domain_data.backups"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{'aws.common.backupGigQuota' | translate}}：</label>
                <div class="controls">
                    <div class="clearfix bar-group">
                    <div quota-bar bardata="project_data.backup_gigabytes"></div>
                    <div quota-bar bardata="domain_data.backup_gigabytes"></div>
                    </div>
                </div>
            </div>
        </form>
        <source-price></source-price>
    </div>
    <div class="modal-footer">
          <button class="btn btn-info" type="button" ng-disabled = "beyondQuota_pro.backup_gigabytes || beyondQuota_dep.backup_gigabytes || beyondQuota_pro.backups || beyondQuota_dep.backups" ng-click="createBackupsConfirm(volumeBackupForm)">{{'aws.instances.addinstances.ok'|translate}}</button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">{{'aws.instances.addinstances.cancel'|translate}}</button>
    </div>
</div>