@charset "utf-8";
@media screen and (max-width: 1680px) {
    .page-inner{
        min-height:775px;
        .TDsql-inner{
            width: 116%;
            height:860px;
        }
    }
    .flowManage-box{
        height:760px;
     }
    .tab-content .tab-pane > .ng-binding{
        max-height: 740px;
    }
    .animateContent .detail-info{
        max-height: 815px;
        overflow-y:auto;
    }
    .main .main-content .overview .box .content-rowtwo  .tables tr td a {
        width: 50px;
    }
    .product-service>.service-title .service-dropdown-layer {
        width: 1680px;
    }
    .panels .pie-wrap.nova-pie {
        width: 45%;
    }
    .panels .pie-legend.category {
        width: 55%;
    }
    .panels .pie-legend.category .dl-horizontal dd b {
        display: none;
    }
    .panels .pie-legend.category .dl-horizontal dd>span {
        min-width: 25px;
    }
    .main-content .box .title .tips {
        display: block;
    }
    .permit .user-box .text-list .copy-li span>i.small {
        font-size: 50px;
    }
    .permit .user-box .text-list li em {
        padding: 0;
    }
    .permit .user-box .text-list li.small {
        font-size: 30px;
    }
    .detailInner {
        .directive-action-wrap {
            &.table-action {
                .control-group {
                    width: 190px;
                    margin-right: 10px;
                    .control-label {
                        width: 80px;
                    }
                    .controls {
                        width: 110px;
                        .ui-select-container {
                            width: 110px;
                        }
                    }
                }
                &.price {
                    .control-group {
                        width: 10%;
                        .controls {
                            width: 100%;
                        }
                    }
                }
                .date-box {
                    .time-picker {
                        .form-control {
                            width: 155px;
                        }
                        .input-group>span {
                            padding: 6px 10px;
                        }
                    }
                }
                .search-box {
                    width: 110px;
                    .form-control {
                        width: 110px;
                    }
                }
            }
        }
        .tab-content {

            .detail-info {
                .pie-wrp {
                    .pie {
                        width: 140px;
                        height: 140px;
                    }
                }
                .pie-legend {
                    .table {
                        tr {
                            th {
                                padding: 10px 8px;
                            }
                            td {
                                padding: 0 8px;
                                .num {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    header .service-dropdown-layer .sub-menu .menu-item{ width: 170px;}
    .overview-single .box .border-space-right .space-content {
        min-height: 461px;
        .add-item {
            padding: 0 25px;
        }
    }
    .table thead tr th {
        padding: 9px 15px;
        font-size: 12px;
    }
    .table tbody tr td {
        height: 48px;
        padding: 10px 16px;
    }
    .main .main-content .box div[class^="col-"]>.title {
        font-size: 14px;
    }
    .plugin-detail .log-wrap {
        height: 805px;
    }
    .zr-topo {
        .animateContent {
            width: 40%;
            .detail-info dd .table tr td .lg {
                width: 150px;
            }
        }
    }
    .main .main-content .overview .box .inner .title span {
        font-size: 14px;
    }
    .table-responsive {
        overflow-x: auto;
    }
    .modal-open .modal .modal-dialog {
        .initSetting-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 20%;
            top: 16%;
        }
        .initConfig-modal {
            left: 14%;
            top: 16%;
        }
        .createStorage-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 30%;
            top: 16%;
        }
    }
}

@media screen and (max-width: 1440px) {
    header .service-dropdown-layer .sub-menu .menu-item{
        width: 150px;
    }
    .page-inner{
        min-height:640px;
    }
    .flowManage-box{
        height:660px;
     }
    .tab-content .tab-pane > .ng-binding{
        max-height: 600px;
    }
    .animateContent .detail-info{
        max-height: 670px;
        overflow-y:auto;
    }
    .animateContent.animateIn{
        min-height: 720px;
        height: 720px;
    }
    .main aside .menu-title{
        padding:0;
    }
    .main .main-content .overview .box .content-rowtwo  .tables tr td a {
        width: 40px;
    }
    .modal-open .modal .modal-dialog {
        .initSetting-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 14%;
            top: 16%;
        }
        .initConfig-modal {
            left: 6%;
            top: 16%;
        }
        .createStorage-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 24%;
            top: 16%;
        }
    }
    .pie-center-message {
        font-size: 12px;
    }
    .billing .detailInner .detail-info .panels .pie-wrap .pie-center-message {
        left: 48%;
        top: 48%;
        .block-min {
            display: block;
        }
    }
    .product-service>.service-title .service-dropdown-layer {
        width: 1440px;
    }
    .animateContent {
        height: 600px;
    }
    .panels .pie-legend .dl-horizontal dd {
        font-size: @panelFontSize * 1.25;
    }
    /**
     * 系统概况-日志信息
     */
    .logsInfo-wrap .cont .table tr td:nth-child(2)>span {
        max-width: 90px;
    }
    /**
     * 资源管理-部门配额/项目资源
     */
    .quotaInfo,
    .resourcesInfo {
        padding: 0 10px;
    }
    .quotaInfo ul li .total .quota-total {
        font-size: @headFontSize;
        padding-top: 5px;
        min-height: 30px;
    }
    .quotaInfo ul li .total i {
        font-size: 40px;
    }
    .quotaInfo ul li .total .quotaNum {
        left: 50px;
    }
    .main-content {
        .layout-grid {
            .col-3,
            .col-4 {
                width: 50%;
                &:nth-child(2n) {
                    .inner {
                        border-right: 0 none;
                    }
                }
            }
        }
    }
    .main-content .layout-grid .col-4:nth-child(3n) .inner {
        border-right: solid 1px @blueLight;
    }
    .monitor-view .controls {
        font-size: 13px;
    }
    .billing .billing-box .tab-content .box .col-6 {
        min-height: 200px;
    }
    .main .main-content .overview-single .box .border-space-right .space-content {
        min-height: 0;
        .add-content {
            padding: 37px 0;
        }
        .add-item {
            padding: 0;
            li {
                padding: 15px;
                i {
                    font-size: 80px;
                }
                a,
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .table thead tr th {
        padding: 6px 14px;
    }
    .table tbody tr td {
        height: 45px;
    }
    .main-top-box {
        padding: 5px 0 4px;
        min-height: 42px;
        .page-top-title {
            font-size: 16px;
            padding-top: 10px;
        }
    }
    body {
        font-size: 12px;
    }
    .ui-select-container .ui-select-match .ui-select-toggle {
        font-size: 12px;
    }
    .ui-select-container {
        .dropdown-menu {
            font-size: 12px;
        }
    }
    .page-inner {
        .tab-offset-right {
            >.nav-tabs {
                // position: absolute;
                // right: 30px;
                // top: 5px;
            }
        }
    }
    .setting-show {
        .nav.nav-tabs.top-nav {
            top: 54px;
        }
        .billing {
            .control-group.top {
                top: 60px;
            }
        }
        .page-inner .tab-offset-right>.nav-tabs {
            top: 63px;
        }
        &.setting-password {
            .nav.nav-tabs.top-nav {
                top: 101px;
            }
            .billing {
                .control-group.top {
                    top: 105px;
                }
            }
            .page-inner .tab-offset-right>.nav-tabs {
                top: 110px;
            }
        }
    }
    .zr-topo {
        .animateContent {
            width: 45%;
        }
    }
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        font-size: 12px;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-size: 12px;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: 12px;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-size: 12px;
    }
    .res-metering .control-groups .date-box>.control-group {
        &.min {
            .controls .ui-select-container {
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    header .service-dropdown-layer .sub-menu .menu-item{
        width: 150px;
        padding:0 10px;
    }
    .circle-blue,.circle-green,.circle-orange,.circle-waterblue{
        height:64px;
        width: 64px;
        i{
            line-height: 56px;
            font-size: 30px;
        }
    }
    .billing .detailInner .detail-info .control-box .control-group .controls{
        width: 110px;
    }
    .page-inner{
        min-height: 600px;
        .meihe-inner{
            width: 120%;
            height:860px;
        }
    }
    .flowManage-box{
        height:660px;
    }
    .animateContent.animateIn{
        min-height: 680px;
    }
    .animateContent .detail-info{
        max-height: 600px;
        overflow-y:auto;
    }
    .tab-content .tab-pane > .ng-binding{
        max-height: 500px;
    }
    .main .main-content .overview .box {
        .content-rowtwo .right-con .map-bg .nodes-type{
            padding-bottom:40px;
            li{
                width:30%;
            }
        } 
        .content-rowtwo .panels .pie-wrap .pie {
            width: 180px;
            height: 180px;
        }
        .content-rowtwo  .tables tr td a {
            width: 37px;
        }
        .inner .title .region-tips li .region-name {
            display: none;
        }
        .content-rowtwo .panels .pie-legend .dl-horizontal {
            .pie-legend-value,
            .pie-legend-name {
                display: none;
            }
        }
    }
    .main .main-content .box div[class^="col-"] {
        min-height: 120px;
    }
    .product-service>.service-title .service-dropdown-layerr {
        width: 1366px;
    }
    .animateContent {
        height: 450px;
    }
    .main .main-content .menu-manage .dropdown-ul a {
        padding: 0 25px;
    }
    .main .main-content .menu-manage .nav>ul>li {
        padding: 0 5px;
    }
    .logsInfo-wrap .cont .table tr td:nth-child(2)>span {
        max-width: 70px;
    }
    .panels .pie-legend.category .dl-horizontal dd b {
        display: none;
    }
    .panels .pie-legend .dl-horizontal dt {
        width: 100px;
    }
    .panels .pie-legend .dl-horizontal dd {
        font-size: @panelFontSize;
    }
    .monitor-view .controls {
        font-size: 12px;
    }
    .alarmInfo-wrap .cont .table tr td,
    .workOrder-wrap .cont .table tr td,
    .logsInfo-wrap .cont .table tr td {
        padding: 10px 5px;
    }
    .table tbody tr td .btn {
        min-width: 54px;
    }
    .panels {
        .pie-wrap {
            width: 130px;
            padding-top: 15px;
            margin-left: 15px;
            .pie {
                width: 130px;
                height: 130px;
            }
        }
    }
    .res-vm-view {
        .panels {
            .pie-wrap {
                width: 50%;
                padding-top: 0;
                margin-left: 0;
                .pie {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
    .billing {
        .tab-content {
            .pie-legend {
                .table {
                    tr {
                        td {
                            i {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .detailInner {
            .detail-info {
                .panels {
                    .pie-wrap {
                        width: 35%;
                        .pie {
                            width: 110px;
                            height: 110px;
                            margin: -60px 0 0 -60px;
                        }
                        .pie-center {
                            top: 90%;
                            left: 48%;
                        }
                    }
                    .pie-legend {
                        width: 65%;
                        padding: 0 30px 0 0;
                    }
                }
            }
        }
    }
    .directive-action-wrap {
        &.table-action {
            .control-group {
                width: 190px;
                margin-right: 20px;
                .control-label {
                    width: 80px;
                }
                .controls {
                    width: 110px;
                    .ui-select-container {
                        width: 110px;
                    }
                }
            }
            &.price {
                .control-group {
                    width: 10%;
                    .controls {
                        width: 100%;
                    }
                }
            }
            .date-box {
                .time-picker {
                    .form-control {
                        width: 155px;
                    }
                }
            }
            .search-box {
                width: 135px;
                .form-control {
                    width: 135px;
                }
            }
        }
    }
    .main .main-content .overview-single .box {
        .title {
            .vlan-title {
                display: inline-block;
                overflow: hidden;
            }
            .total-num,
            .avail-num,
            .used-num {
                margin-left: 10px;
                display: inline-block;
                width: 80px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                i {
                    font-size: 14px;
                }
            }
        }
        .panels .bar-wrap ul li .progress {
            width: 52%;
        }
        .border-space-right .space-content {
            min-height: 0;
            .add-content {
                padding: 38px 0;
                height: 462px;
            }
        }
    }
    .service-dropdown-layer .sub-menu {
        max-height: 580px;
    }
    .control-group .controls .checkbox.switch-btn label i,
    .control-group .controls .checkbox.switch-btn label .iconfont {
        height: 24px;
    }
    .control-group .controls .checkbox.switch-btn label input+i:before,
    .control-group .controls .checkbox.switch-btn label input+.iconfont:before {
        width: 18px;
        height: 18px;
    }
    .billing .control-group.top .controls .switch-btn span {
        height: 24px;
        line-height: 24px;
    }
    .zr-topo {
        .animateContent {
            width: 45%;
            &.animateIn {
                dt {
                    width: 150px;
                }
                dd {
                    margin-left: 150px;
                }
            }
        }
    } //身份管理背景图
    .image-text {
        .left-org {
            .img-item {
                background: url(../images/role-organization-min.png) no-repeat center center;
                width: 80%;
                height: 100%;
                margin-left: 8%;
                float: left;
                background-size: auto;
            }
        }
        li:nth-child(1) {
            i {
                background: url(../images/role-admin-min.png) no-repeat center center;
                background-size: 100% auto;
            }
        }
        li:nth-child(2) {
            i {
                background: url(../images/role-domain-min.png) no-repeat center center;
                background-size: 100% auto;
            }
        }
        li:nth-child(3) {
            i {
                background: url(../images/role-project-min.png) no-repeat center center;
                background-size: 100% auto;
            }
        }
        li:nth-child(4) {
            i {
                background: url(../images/role-member-min.png) no-repeat center center;
                background-size: 100% auto;
            }
        }
    }
    .monitor-view .disk>.control-items3 .control-group {
        &.path,
        &.diskio {
            // padding: 0 30px;
            // .control-label {
            //     width: 80px;
            // }
            .controls {
                .ui-select-container {
                    width: 140px;
                }
            }
        }
        &.diskio {
            .control-label {
                text-align: center;
            }
        }
    }
    .res-metering .control-groups .date-box>.control-group {
        &.min {
            .controls .ui-select-container {
                width: 80px;
            }
        }
    }
    .value-decr-num {
        font-size: 32px;
    }
}

@media screen and (max-width: 1280px) {
    .page-inner{
        min-height:495px;
        .meihe-inner{
            width: 122%;
            height:860px;
        }
    }
    .animateContent .detail-info{
        max-height: 570px;
        overflow-y:auto;
    }
    .animateContent.animateIn{
        min-height: 550px;
    }
    .modal-open .modal .modal-dialog {
        .initSetting-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 10%;
            top: 16%;
        }
        .initConfig-modal {
            left: 2%;
            top: 16%;
        }
        .createStorage-modal {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            left: 20%;
            top: 16%;
        }
    }
    .main .main-content .overview .box .content-rowtwo .panels .pie-wrap .pie {
        width: 150px;
        height: 150px;
    }
    .main .main-content .overview .box .content-rowtwo  .tables tr td a {
        width: 35px;
    }
    .zr-topo {
        .animateContent {
            .detail-info dd .table tr td .lg {
                width: 100px;
            }
        }
    }
    .monitor-view .disk>.control-items3 .control-group {
        &.path,
        &.diskio {
            padding: 0 30px;
            .control-label {
                width: 80px;
            }
            .controls {
                .ui-select-container {
                    width: 140px;
                }
            }
        }
        &.diskio {
            .control-label {
                text-align: center;
            }
        }
    }
    .res-metering .control-groups .date-box>.control-group {
        .controls {
            padding-left: 0;
            .ui-select-container {
                width: 103px;
            }
        }
        &.min {
            .controls .ui-select-container {
                width: 60px;
                &:last-child {
                    width: 70px;
                }
            }
        }
    }
    .value-decr-num {
        font-size: 32px;
    }
}