<div class="page-inner deploy-box" ng-controller="steptwoCtrl">
  <div class="step-box">
    <ul class="text-list clearfix">
      <li class="first active">
        <i class="icon-aw-pc"></i>
        <p>{{'aws.register.info.hostChoice'|translate}}</p>
      </li>
      <li class="active">
        <i class="icon-aw-internet"></i>
        <p>{{'aws.register.info.netSetting'|translate}}</p>
        <div class="state-items">
          <span class="icon-aw-angle-right"></span>
          <span class="icon-aw-correct"></span>
        </div>
      </li>
      <!-- <li ng-class="{'active': stepThreeActive}">
        <i class="icon-aw-user"></i>
        <p>{{'aws.register.info.accSetting'|translate}}</p>
        <div class="state-items">
          <span class="icon-aw-angle-right"></span>
          <span class="icon-aw-correct"></span>
        </div>
      </li> -->
      <li class="last" ng-class="{'active': stepFourActive}">
        <i class="icon-aw-information"></i>
        <p>{{'aws.register.info.infoSummary'|translate}}</p>
        <div class="state-items">
          <span class="icon-aw-angle-right"></span>
          <span class="icon-aw-correct"></span>
        </div>
      </li>
    </ul>
  </div>
  <div class="internet-box">
    <form class="form-horizontal" name="ipForm" novalidate>
      <fieldset>
        <div class="title">
          <div class="col-1 font-h">
            <!-- <a class="icon-tip" data-toggle="tooltip" data-placement="bottom" title=""><i class="icon-aw-question-mark"></i></a> -->
            <strong>{{'aws.register.info.clusternetwork'|translate}}：</strong>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="clusterRangeCheck" ng-change="twoModule.rangeOff('clusterRangeError')" ng-model="twoModule.clusterRangeCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.iprange'|translate}}</span>
              </label>
            </div>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="clusterCheck" ng-model="twoModule.clusterCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.vlan'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row" ng-if="twoModule.clusterRangeCheck">
          <div class="col-10">
            <div class="add-group clearfix" ng-repeat="item in twoModule.clusterRange track by $index">
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.start'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="10.0.1.1" name="{{item.startname}}" required ng-focus="twoModule.rangeOff('clusterRangeError')" class="form-control" incidr="clustercidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.start" />
                  <div ng-if="ipForm[item.startname].$invalid">
                    <span class="help-block" ng-if="ipForm[item.startname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.incidr && !ipForm[item.startname].$error.required && !ipForm[item.startname].$error.pattern">IP地址不在CIDR范围之内</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.end'|translate}}</label>
                <div class="control-item">
                  <input type="text" name="{{item.endname}}" placeholder="10.0.1.255" required ng-focus="twoModule.rangeOff('clusterRangeError')" class="form-control" gtip incidr="clustercidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.end" />
                  <div ng-if="ipForm[item.endname].$invalid">
                    <span class="help-block" ng-if="ipForm[item.endname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.incidr && !ipForm[item.endname].$error.required && !ipForm[item.endname].$error.pattern">IP地址不在CIDR范围之内</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.gtip">结束IP地址必须比起始IP地址大</span>
                  </div>
                </div>
              </div>
              <span class="add-ip" ng-if="$index==0" ng-click="twoModule.addCluster($index)">{{'aws.register.info.addRangeIp'|translate}}</span>
              <span class="del-ip" ng-if="$index" ng-click="twoModule.delCluster($index)"><i class="icon-aw-1shut-down"></i></span>
            </div>

            <!-- <div class="form-group">
              <label class="control-label">{{'aws.register.info.netmask'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="255.255.255.0" name="clusterNetmask" required ng-pattern="/^(254|252|248|240|224|192|128|0)\.0\.0\.0|255\.(254|252|248|240|224|192|128|0)\.0\.0|255\.255\.(254|252|248|240|224|192|128|0)\.0|255\.255\.255\.(254|252|248|240|224|192|128|0)$/" class="form-control" ng-model="twoModule.clusterNetmask" />
                <div ng-if="ipForm.clusterNetmask.$invalid && ipForm.clusterNetmask.$dirty">
                  <span class="help-block" ng-if="ipForm.clusterNetmask.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.clusterNetmask.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.cidr'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="10.0.1.0/24" id="clustercidr" name="clustercidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))[\/]([1-9]|[1-2][0-9]|[3][0]|[3][1])$/" required ng-model="twoModule.clusterCidr" class="form-control" ng-model="clusterCidr">
                <div ng-if="ipForm.clustercidr.$invalid && ipForm.clustercidr.$dirty">
                  <span class="help-block" ng-if="ipForm.clustercidr.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.clustercidr.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="twoModule.clusterCheck">
              <label class="control-label">
                {{'aws.register.info.vlan'|translate}}
              </label>
              <div class="control-item">
                <input type="text" class="form-control" name="clustervlan" ng-pattern="/^[1-9]\d*$/" ng-model="twoModule.clusterVlan" />
                <div ng-if="ipForm.clustervlan.$invalid && ipForm.clustervlan.$dirty">
                  <span class="help-block" ng-if="ipForm.clustervlan.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <span class="help-block"  ng-if="twoModule.clusterRangeError.rangeTotal">{{'aws.register.info.rangeTotal'|translate}}</span>
          <span class="help-block"  ng-if="twoModule.clusterRangeError.rangeSame">{{'aws.register.info.rangeSame'|translate}}</span>
        </div>
      </fieldset>
      <fieldset ng-if="twoModule.enable_storage_network">
        <div class="title">
          <div class="col-1 font-h">
            <!-- <a class="icon-tip" data-toggle="tooltip" data-placement="bottom" title=""><i class="icon-aw-question-mark"></i></a> -->
            <strong>{{'aws.register.info.Storagenetwork'|translate}}：</strong>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="storageRangeCheck" ng-change="twoModule.rangeOff('storageRangeError')" ng-model="twoModule.storageRangeCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.iprange'|translate}}</span></label>
            </div>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="storageCheck" ng-model="twoModule.storageCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.vlan'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row" ng-if="twoModule.storageRangeCheck">
          <div class="col-10">
            <div class="add-group clearfix" ng-repeat="item in twoModule.storageRange">
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.start'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="10.0.2.1" class="form-control" name="{{item.startname}}" incidr="storagecidr" required ng-focus="twoModule.rangeOff('storageRangeError')" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.start">
                  <div ng-if="ipForm[item.startname].$invalid && ipForm[item.startname].$dirty">
                    <span class="help-block" ng-if="ipForm[item.startname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.incidr && !ipForm[item.startname].$error.required && !ipForm[item.startname].$error.pattern">IP地址不在CIDR范围之内</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.end'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="10.0.2.255" class="form-control" name="{{item.endname}}" gtip incidr="storagecidr" required ng-focus="twoModule.rangeOff('storageRangeError')" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.end">
                  <div ng-if="ipForm[item.endname].$invalid">
                    <span class="help-block" ng-if="ipForm[item.endname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.incidr && !ipForm[item.endname].$error.required && !ipForm[item.endname].$error.pattern">IP地址不在CIDR范围之内</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.gtip">结束IP地址必须比起始IP地址大</span>
                  </div>
                </div>
              </div>
              <span class="add-ip" ng-if="$index==0" ng-click="twoModule.addStorage()">{{'aws.register.info.addRangeIp'|translate}}</span>
              <span class="del-ip" ng-if="$index" ng-click="twoModule.delStorage($index)"><i class="icon-aw-1shut-down"></i></span>
            </div>
            <!-- <div class="form-group">
              <label class="control-label">{{'aws.register.info.netmask'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="255.255.255.0" name="storageNetmask" required ng-pattern="/^(254|252|248|240|224|192|128|0)\.0\.0\.0|255\.(254|252|248|240|224|192|128|0)\.0\.0|255\.255\.(254|252|248|240|224|192|128|0)\.0|255\.255\.255\.(254|252|248|240|224|192|128|0)$/" class="form-control" ng-model="twoModule.storageNetmask" />
                <div ng-if="ipForm.storageNetmask.$invalid && ipForm.storageNetmask.$dirty">
                  <span class="help-block" ng-if="ipForm.storageNetmask.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.storageNetmask.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.cidr'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="10.0.2.0/24" required id="storagecidr" name="storagecidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))[\/]([1-9]|[1-2][0-9]|[3][0]|[3][1])$/" ng-model="twoModule.storageCidr" class="form-control" />
                <div ng-if="ipForm.storagecidr.$invalid && ipForm.storagecidr.$dirty">
                  <span class="help-block" ng-if="ipForm.storagecidr.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.storagecidr.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="twoModule.storageCheck">
              <label class="control-label">
                {{'aws.register.info.vlan'|translate}}
              </label>
              <div class="control-item">
                <input type="text" name="storagevlan" ng-pattern="/^[1-9]\d*$/" placeholder="" class="form-control" ng-model="twoModule.storageVlan" />
                <div ng-if="ipForm.storagevlan.$invalid && ipForm.storagevlan.$dirty">
                  <span class="help-block" ng-if="ipForm.storagevlan.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <span class="help-block"  ng-if="twoModule.storageRangeError.rangeTotal">{{'aws.register.info.rangeTotal'|translate}}</span>
          <span class="help-block"  ng-if="twoModule.storageRangeError.rangeSame">{{'aws.register.info.rangeSame'|translate}}</span>
        </div>
        <!-- <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="storageCheck" ng-model="twoModule.storageCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.vlan'|translate}}</span></label>
                </div>
              </label>
              <div class="control-item" ng-if="twoModule.storageCheck">
                <input type="text" name="storagevlan" ng-pattern="/^[1-9]\d*$/" placeholder="" class="form-control" ng-model="twoModule.storageVlan" />
                <div ng-if="ipForm.storagevlan.$invalid && ipForm.storagevlan.$dirty">
                  <span class="help-block" ng-if="ipForm.storagevlan.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </fieldset>
      <fieldset ng-if="twoModule.enable_sdn">
        <div class="title">
          <div class="col-1 font-h">
            <!-- <a class="icon-tip" data-toggle="tooltip" data-placement="bottom" title=""><i class="icon-aw-question-mark"></i></a> -->
            <strong>{{'aws.register.info.TenantNetwork'|translate}}：</strong>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="tenantRangeCheck" ng-change="twoModule.rangeOff('tenantRangeError')" ng-model="twoModule.tenantRangeCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.iprange'|translate}}</span></label>
            </div>
          </div>
        </div>
        <div class="row" ng-if="twoModule.tenantRangeCheck">
          <div class="col-10">
            <div class="add-group clearfix" ng-repeat="item in twoModule.tenantRange">
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.start'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="10.0.3.1" class="form-control" name="{{item.startname}}" incidr="tenantcidr" required ng-focus="twoModule.rangeOff('tenantRangeError')" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.start">
                  <div ng-if="ipForm[item.startname].$invalid && ipForm[item.startname].$dirty">
                    <span class="help-block" ng-if="ipForm[item.startname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.incidr && !ipForm[item.startname].$error.required && !ipForm[item.startname].$error.pattern">IP地址不在CIDR范围之内</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.end'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="10.0.3.255" class="form-control" name="{{item.endname}}" gtip incidr="tenantcidr" required ng-focus="twoModule.rangeOff('tenantRangeError')" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.end">
                  <div ng-if="ipForm[item.endname].$invalid && ipForm[item.endname].$dirty">
                    <span class="help-block" ng-if="ipForm[item.endname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.incidr && !ipForm[item.endname].$error.required && !ipForm[item.endname].$error.pattern">IP地址不在CIDR范围之内</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.gtip">结束IP地址必须比起始IP地址大</span>
                  </div>
                </div>
              </div>
              <span class="add-ip" ng-if="$index==0" ng-click="twoModule.addTenant()">{{'aws.register.info.addRangeIp'|translate}}</span>
              <span class="del-ip" ng-if="$index" ng-click="twoModule.delTenant($index)"><i class="icon-aw-1shut-down"></i></span>
            </div>
            <!-- <div class="form-group">
              <label class="control-label">{{'aws.register.info.netmask'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="255.255.255.0" name="tenantNetmask" required ng-pattern="/^(254|252|248|240|224|192|128|0)\.0\.0\.0|255\.(254|252|248|240|224|192|128|0)\.0\.0|255\.255\.(254|252|248|240|224|192|128|0)\.0|255\.255\.255\.(254|252|248|240|224|192|128|0)$/" class="form-control" ng-model="twoModule.tenantNetmask" />
                <div ng-if="ipForm.tenantNetmask.$invalid && ipForm.tenantNetmask.$dirty">
                  <span class="help-block" ng-if="ipForm.tenantNetmask.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.tenantNetmask.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.cidr'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="10.0.3.0/24" required id="tenantcidr" name="tenantcidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))[\/]([1-9]|[1-2][0-9]|[3][0]|[3][1])$/" ng-model="twoModule.tenantCidr" class="form-control" />
                <div ng-if="ipForm.tenantcidr.$invalid && ipForm.tenantcidr.$dirty">
                  <span class="help-block" ng-if="ipForm.tenantcidr.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.tenantcidr.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.vlanstart'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="" name="tenantStart" class="form-control" required ng-pattern="/^[1-9]\d*$/" ng-model="twoModule.tenantStart" />
                <div ng-if="ipForm.tenantStart.$invalid && ipForm.tenantStart.$dirty">
                  <span class="help-block" ng-if="ipForm.tenantStart.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.tenantStart.$error.required">{{'aws.register.info.required'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.vlanend'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="" name="tenantEnd" required vlan ng-pattern="/^[1-9]\d*$/" class="form-control" ng-model="twoModule.tenantEnd" />
                <div ng-if="ipForm.tenantEnd.$invalid && ipForm.tenantEnd.$dirty">
                  <span class="help-block" ng-if="ipForm.tenantEnd.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.tenantEnd.$error.required">{{'aws.register.info.required'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.tenantEnd.$error.vlan">结束VLAN必须大于起始VLAN</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <span class="help-block"  ng-if="twoModule.tenantRangeError.rangeTotal">{{'aws.register.info.rangeTotal'|translate}}</span>
          <span class="help-block"  ng-if="twoModule.tenantRangeError.rangeSame">{{'aws.register.info.rangeSame'|translate}}</span>
        </div>
      </fieldset>
      <fieldset>
        <div class="title">
          <div class="col-1 font-h">
            <!-- <a class="icon-tip" data-toggle="tooltip" data-placement="bottom" title=""><i class="icon-aw-question-mark"></i></a> -->
            <strong>{{'aws.register.info.extNetwork'|translate}}：</strong>
          </div>
          <div class="col-1 font-h">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="publicCheck" ng-model="twoModule.publicCheck" /><i class="icon-aw-square"></i><span>{{'aws.register.info.vlan'|translate}}</span></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="add-group clearfix" ng-repeat="item in twoModule.floatingRange">
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.start'|translate}}</label>
                <div class="control-item">
                  <input type="text" placeholder="192.168.1.1" name="{{item.startname}}"  incidr="floatingcidr" required class="form-control" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.start" />
                  <div ng-if="ipForm[item.startname].$invalid">
                    <span class="help-block" ng-if="ipForm[item.startname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.startname].$error.incidr && !ipForm[item.startname].$error.required && !ipForm[item.startname].$error.pattern">IP地址不在CIDR范围之内</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">{{'aws.register.info.end'|translate}}</label>
                <div class="control-item">
                  <input type="text" name="{{item.endname}}" placeholder="192.168.1.254" gtip incidr="floatingcidr" required class="form-control" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="item.end" />
                  <div ng-if="ipForm[item.endname].$invalid">
                    <span class="help-block" ng-if="ipForm[item.endname].$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.incidr && !ipForm[item.endname].$error.required && !ipForm[item.endname].$error.pattern">IP地址不在CIDR范围之内</span>
                    <span class="help-block" ng-if="ipForm[item.endname].$error.gtip">结束IP地址必须比起始IP地址大</span>
                  </div>
                </div>
              </div>
              <!-- <span class="add-ip" ng-if="$index==0" ng-click="twoModule.addCluster($index)">{{'aws.register.info.addRangeIp'|translate}}</span>
              <span class="del-ip" ng-if="$index" ng-click="twoModule.delCluster($index)"><i class="icon-aw-1shut-down"></i></span> -->
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.cidr'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="192.168.1.0/24" required id="floatingcidr" name="floatingcidr" ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))[\/]([1-9]|[1-2][0-9]|[3][0]|[3][1])$/" ng-model="twoModule.floatingCidr" class="form-control" />
                <div ng-if="ipForm.floatingcidr.$invalid">
                  <span class="help-block" ng-if="ipForm.floatingcidr.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.floatingcidr.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">{{'aws.register.info.floatinggateway'|translate}}</label>
              <div class="control-item">
                <input type="text" placeholder="192.168.1.1" gateway="floatingcidr" name="floatinggateway" required ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" class="form-control" ng-model="twoModule.floatinggateway" />
                <div ng-if="ipForm.floatinggateway.$invalid">
                  <span class="help-block" ng-if="ipForm.floatinggateway.$error.pattern">{{'aws.register.info.iperrorformat'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.floatinggateway.$error.required">{{'aws.register.info.ipnotnone'|translate}}</span>
                  <span class="help-block" ng-if="ipForm.floatinggateway.$error.gateway">网关必须在起始IP与结束IP范围之外</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="twoModule.publicCheck">
          <div class="col-10">
            <div class="form-group">
              <label class="control-label">
                {{'aws.register.info.vlan'|translate}}
              </label>
              <div class="control-item">
                <input type="text" placeholder="" class="form-control" ng-pattern="/^[1-9]\d*$/" name="publicvlan" ng-model="twoModule.publicVlan" />
                <div ng-if="ipForm.publicvlan.$invalid && ipForm.publicvlan.$dirty">
                  <span class="help-block" ng-if="ipForm.publicvlan.$error.pattern">{{'aws.register.info.inputint'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <br>
      <div class="text-center">
        <a ng-href="/configure/cluster/stepone" class="btn btn-default">{{'aws.register.info.last'|translate}}</a>
        <button class="btn btn-info" ng-disabled="ipForm.$invalid" ng-click="twoModule.completeTwo(ipForm)" type="button">{{'aws.register.info.next'|translate}}</button>
      </div>
      <br>
    </form>
  </div>

</div>
